@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --font_size: 16px;
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

body {
    font-family: "Figtree", sans-serif;
    font-size: var(--font_size);
    background-color: var(--yellow);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.card {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    max-width: 375px;
    border: 1px solid var(--gray-950);
    padding: 1.25rem;
    box-shadow: 10px 10px 0 var(--gray-950);

}

img {
    max-width: 100%;
    border-radius: 15px;
}

.wrapper {
    margin-top: 1.25rem;
}

.button {
    background-color: var(--yellow);
    color: var(--gray-950);
    font-weight: 800;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.publish {
    margin: 1.5rem 0;
    color: var(--gray-900);
    font-weight: 500;
}

h2 {
    font-weight: 800;
}

.details {
    margin-top: 1rem;
    color: var(--gray-500);
}

footer {
    width: 100%;
    margin-top: 2rem;
}

figure {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.avatar {
    width: 2.3rem;
}

.avatar-name {
    color: var(--gray-900);
    font-weight: 800;
}